<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Batches</h1>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Batch</th>
                <th>Course</th>
                <th>Center</th>
                <th>Year</th>
                <th>Season</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {{#each batches as |b|}}
                <tr>
                    <td>{{b.code}}</td>
                    <td>{{b.course.name}}</td>
                    <td>{{b.center.name}}, {{b.center.city}}</td>
                    <td>{{b.year}}</td>
                    <td>{{b.seasonId}}</td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
</body>
</html>