<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batch Code</title>
</head>
<body>
    <h1>Generate Batch Code</h1>
    <form action="/batchcode" method="post">
        <b>Center</b>
        <select name="center">
            {{#each centers as |c|}}
            <option value="{{c.id}}">{{c.name}}</option>
            {{/each}}
        </select>
        <br>

        <b>Seasons</b>
        <select name="season">
            {{#each seasons as |s|}}
            <option value="{{s.id}}">{{s.name}}</option>
            {{/each}}
        </select>
        <br>

        <b>Courses</b>
        <select name="course">
            {{#each courses as |co|}}
            <option value="{{co.id}}">{{co.name}}</option>
            {{/each}}
        </select>
        <br>

        <b>Years</b>
        <select name="year">
            {{#each years as |y|}}
            <option value="{{y}}">{{y}}</option>
            {{/each}}
        </select>
        <br>

        <b>Batch Number</b>
        <input name="batchno" type="number" min="1" max="5">

        <b>Start</b>
        <input name="start" type="date">

        <b>End</b>
        <input name="end" type="date">

        <br><br>
        
        <input type="reset">
        <input type="submit">

    </form>
</body>
</html>